USE [master]
GO
/****** Object:  Database [tpcrud]    Script Date: 05/03/2022 11:55:54 ******/
CREATE DATABASE [tpcrud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tpcrud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SA\MSSQL\DATA\tpcrud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tpcrud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SA\MSSQL\DATA\tpcrud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tpcrud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tpcrud]
GO
USE [tpcrud]
GO
/****** Object:  Table [dbo].[productinfo_table]    Script Date: 05/03/2022 11:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productinfo_table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[designation] [nvarchar](150) NULL,
	[color] [nvarchar](50) NULL,
	[insertdate] [datetime] NULL,
	[updatedate] [datetime] NULL,
	[expiredate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
